<div class="user-details">
  <div class="col-lg-12 col-md-12 col-sm-12 user-details__header-block">

  </div>
  <div class="col-lg-2 col-md-2 col-sm-4 user-details__menu-block">

  </div>
  <div class="col-lg-10 col-md-10 col-sm-8 user-details__content-block">
    <div class="user-details__content-block__details">
      <div class="col-lg-12 col-md-12 col-sm-12 user-details__content-block__details__title"><strong>{{user.username}}</strong></div>
      <login-activity></login-activity>
      <user-permission></user-permission>
    </div>
  </div>
</div>
