.users {
  background-color: lightgray;
  float: left;
  width: 100%;

  &__header-block {
    background-color: darkgray;
    color: #fff;
    height: 35px;
    line-height: 35px;
  }

  &__menu-block {
    font-size: 14px;
    float: left;
    background-color: dimgray;
    color: #fff;
    height: 600px;

    &__title {
      padding-top: 8px;
    }

    ul {
      list-style: none;
      padding-left: 0;
      padding-top: 10px;

      .radio {
        line-height: 18px;
        cursor: pointer;
      }

      input {
        height: 18px;
        width: 18px;
        float: left;
        margin-right: 3px;
      }
    }
  }

  &__content-block {
    float: left;
    padding: 20px;


    &__users {
      color: #000;
      background-color: #fff;
      font-size: 12px;

      .icon-edit {
        padding-left: 15px;
      }
    }
  }
}
